#root {
  max-width: 1280px;
  text-align: center;
}

.app-container {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e293b;
  color: #ffffff;
}

.nav-bar li.active {
  background-color: #f8fafc;
  color: black;
  font-weight: bold;
  border-bottom: none;
}

.material-symbols-outlined {
  font-size: 16px;
}

.nav-text {
  margin-left: 8px;
}

.nav-bar:hover {
  cursor: pointer;
}

.nav-bar li {
  display: flex;
  border-bottom: 1px solid #334155;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-bar ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.bold-text {
  font-weight: bold;
}

.indicator {
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* half of the triangle base */
  border-right: 8px solid transparent; /* half of the triangle base */
  border-top: 16px solid #3498db;
  left: 0px;
  position: relative;
}

/* .main-container {
  padding: 16px 64px;
} */
