.lcp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lcp-description {
  width: 400px;
}

.lcp-heading {
  padding: 0px;
  margin: 0px;
}

.lcp-value {
  font-size: medium;
}

.element-type-container {
  display: flex;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  width: 436px;
  height: 48px;
  padding: 4px 24px;
  margin: 8px 16px;
  cursor: pointer;
}

.section-topic {
  font-size: small;
  font-weight: bold;
  margin-block-end: 0px;
  margin-block-start: 24px;
  text-align: start;
  width: 484px;
}

.section-description {
  font-size: smaller;
  font-style: italic;
  margin-block-end: 8px;
  margin-block-start: 4px;
  text-align: start;
  width: 484px;
}
