.range-container {
    width: 316px;
    height: fit-content;
    display: block;
}

.bar {
    height: 8px;
    width: 100px;
}

.good {
    background: green;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: 8px;
}

.needs-improvement {
    background: orange;
}

.poor {
    background: red;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 8px;
}

.indicator {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;   /* half of the triangle base */
  border-right: 8px solid transparent;  /* half of the triangle base */
  border-top: 16px solid #3498db;
  left: 0px;
  position: relative;
}

.bar-container {
    display: flex;
}

.variant-label {
    font-weight: bold;
    font-size: 16px;
}