.chart-container {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 8px;
}

.metric-name {
    text-align: center;
    width: 100vh;
    height: fit-content;
}

.tooltip-box {
  background: white;
  border: 1px solid #ddd;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.tooltip-title {
  font-weight: 600;
  margin-bottom: 4px;
}

.tooltip-range {
  color: #555;
  margin-bottom: 4px;
}

.tooltip-value {
  font-weight: 500;
}
