.value-container {
  display: flex;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 96px;
  padding: 8px;
}

.vital-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.vital-description {
  text-align: start;
  margin: 16px;
  width: 350px;
  margin-right: 0px;
}

.vital-type {
  margin-block-end: 0px;
}

.vital-value {
  margin-block-start: 0px;
  font-size: 12px;
}
